<header class="wrapper">
  <img src="assets/images/oc-logo.svg" alt="logo" class="logo" />

  <nav class="row gap-1">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/about-us" routerLinkActive="active">About</a>
    <a routerLink="/cart" routerLinkActive="active"
      ><img
        class="cart_icon"
        src="/assets/images/shopping_bag_16dp_000000_FILL0_wght400_GRAD0_opsz20.png"
    /></a>
  </nav>
</header>
